body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
div{border-width:3px;
	border-style:dotted;
	border-color:#FFE4B5;
	weight:300px;
	height:150px;}
h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}
h2 {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 12px;
}


.site-header {
  min-width: 550px;
  height: 186px;
  margin-bottom: 70px;
  padding-top: 30px;
  background: #847462 no-repeat center ;
  background-size: cover;
  color: #ffffff;
}

h4{background: #847462 no-repeat center ;
 text-align: center;
 color:#FFEBCD}
h3{background: #847462 no-repeat center ;
 text-align: center;
 color:#FFEBCD}
